<section id="apps_sec" class="hk-landing-sec bg-white col-lg-12" style="padding-top:30px;">
   <div class="container" style="max-width:1400px;">
      <div class="card" style="width:100%;">
        <div class="card-body" style="padding:0px;">
           <div class="card-body pa-5" style="float:left; max-width:200px;">
              <input class="form-control" placeholder="태그명 필터" type="text" name="nickname" style="max-width:300px;" id="input-tag">
           </div>
            <div class="card-body pa-5" style="float:right;">
               <div class="col-md-4 mt-10" style="float:right;">
                   <div class="custom-control custom-radio" style="min-width:100px; cursor:pointer;">
                       <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" style="cursor:pointer;" th:checked="${param.sort[0] == 'hits' ? 'true' : 'false'}" data-sort="hits">
                       <label class="custom-control-label" for="customRadio1" style="cursor:pointer;">인기순</label>
                   </div>
               </div>
               <div class="col-md-4 mt-10" style="float:right;">
                   <div class="custom-control custom-radio" style="min-width:100px; cursor:pointer;">
                       <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" style="cursor:pointer;" th:checked="${param.sort[0] == 'date' ? 'true' : 'false'}" data-sort="date">
                       <label class="custom-control-label" for="customRadio2" style="cursor:pointer;" >최신순</label>
                   </div>
               </div>
            </div>
        </div>

          <div class="card-body" style="padding:0px 0px 10px 15px;" >
            <div class="w-100" id="tag-list">
            </div>
          </div>

        <div class="border-bottom mb-5"></div>

         <div class="card-body pa-0">
            <div class="table-wrap">
               <div class="table-responsive">
                  <table class="table table-sm table-hover mb-0">
                     <thead>
                        <tr>
                           <th></th>
                           <th>닉네임</th>
                           <th>제목</th>
                           <th>답변수</th>
                           <th>좋아요</th>
                           <th>날짜</th>
                           <th>과목</th>
                           <th>조회수</th>
                        </tr>
                     </thead>
                     <!-- 검색결과 테이블  -->
                     <tbody th:each="list : ${question}">
                       <tr style="cursor:pointer;" th:id="'forum-idx-' + ${list.idx}" th:onclick="'onclickRow(\'content\', ' + ${list.idx} + ')'">
                          <td>
                           <img th:src="@{${list.user.image_url} != null ? '/forum/img?id=' + ${list.user.image_url} : '/dist/img/img-thumb.jpg'} "
                                 alt="user" class="avatar-img rounded-circle"
                                 style="width:56px; height:56px;">
                           </td>
                          <td th:text="${#strings.abbreviate(list.user.nickname,20)}"></td>
                          <td th:text="${#strings.abbreviate(list.title,40)}"></td>
                          <!-- <td th:Text="${list.childCount}">13 Nov 2018</td> -->
                          <td th:text="${list.childrenCount}"></td>
                          <td th:text="${list.recommendedCount}"></td>
                          <td th:text="${#temporals.format(list.update_date, 'yyyy/MM/dd HH:mm')}"></td>
                          <td>
                            <span class="badge badge-soft-success" th:each="tags, num : ${list.subjects}" th:if="${num.index < 3}" th:text=${tags.subject.name} style="margin-right:10px;">Completed</span>
                          </td>
                          <td th:text="${list.hits}"></td>
                       </tr>
                     </tbody>
                  </table>
                  <button type="button" class="btn btn-success" style="margin:30px 0px 50px 0px; float:right;" onclick="location.href='/forum/main/write'">질문 등록하기</button>
                  <button type="button" class="btn btn-success" style="margin:30px 30px 50px 0px; float:right;" onclick="location.href='/forum/mypage'">나의 질문</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
  var selectTags = [];
  $("input[name=customRadio]").change(function(){
    var title = $("#input-search").val();
    var sort = $(this).data("sort");
    $("#result-row").load("/forum/main/board?title="+title+"&min=0&max=10&sort="+sort);
  });

  function tagSearch(){
    $("#result-row").load("/forum/main/board?title="+title+"&min=0&max=10&sort="+sort);
  }
</script>

<script th:inline="javascript">
  var tags = [];
  var title = $("#input-search").val();
  var sort = $(this).data("sort");
   /*<![CDATA[*/

   /*[# th:each="tmp : ${subject}"]*/
   noti(/*[[${tmp.idx}]]*/, /*[[${tmp.name}]]*/);
   /*[/]*/
   /*]]>*/

   function noti(id, name){
     tags.push([id, name]);
   }

  autocomplete(document.getElementById("input-tag"), tags,
    function(id, name){
      $("#tag-list").append("<span class='badge badge-soft-success mt-15 mr-10' data-id='"+id+"'>"+name+"</span>");
      $("#input-tag").val("");
      $("#result-row").load("/forum/main/board?title="+title+"&min=0&max=10&sort="+sort);
    }
  );
</script>
