<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <body data-spy="scroll" data-target=".navbar" data-offset="60">
      <div class="hk-wrapper">
         <div class="hk-pg-wrapper px-0" style="padding-top:0px;">
            <div class="container-fluid">
               <!-- Row -->
               <div class="row">
                  <div class="col-xl-12 pa-0">
                     <div class="bg-white shadow-bottom">
                        <div class="container" style="max-width:1600px;">
                           <ul class="nav nav-light nav-tabs" role="tablist" id="menu-tab">
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link" th:onclick="'onclickRow(\'content\', ' + ${forum.idx} + ')'" style="cursor:pointer;">게시물 정보</a>
                              </li>
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link" th:onclick="'onclickRow(\'history\', ' + ${forum.idx} + ')'" style="cursor:pointer;">게시물 이력</a>
                              </li>
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link " th:onclick="'onclickRow(\'profile\', ' + ${forum.idx} + ')'" style="cursor:pointer;">게시자 정보</a>
                              </li>
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link active" th:onclick="'onclickRow(\'edit\', ' + ${forum.idx} + ')'" style="cursor:pointer;">수정요청</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="tab-content mt-sm-60 mt-30">
                        <div class="tab-pane fade show active" role="tabpanel">
                           <div class="container"  style="max-width:1600px;">
                              <div class="hk-row">
                                <div class="col-xl-12 pa-0">
                                   <div class="tab-content sm-60">
                                      <div class="tab-pane fade show active" role="tabpanel">
                                         <div class="container"  style="max-width:1600px;">
                                            <div class="hk-row">
                                              <!-- 수정하고자 하는 포럼 -->
                                               <div class="col-lg-6" >
                                                  <div class="card-columns card-column-1" style="margin-bottom:10px;">
                                                    <div th:replace="/form/card :: forum(${forum})"></div>
                                                  </div>
                                               </div>

                                               <!-- 포럼을 수정할 폼-->
                                               <div class="col-lg-6" >
                                                  <div class="card-columns card-column-1" style="margin-bottom:10px;">
                                                      <div th:replace="/form/editcard :: forum(${forum})"></div>
                                                  </div>
                                               </div>

                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /Row -->
            </div>
         </div>
      </div>
      <script th:src="@{/vendors/dropzone/dist/dropzone.js}"></script>
      <!-- Dropify JavaScript -->
      <script th:src="@{/vendors/dropify/dist/js/dropify.min.js}"></script>
      <!-- Form Flie Upload Data JavaScript -->
      <script th:src="@{/dist/js/form-file-upload-data.js}"></script>

      <script>
        function submit(){
          var formData = new FormData();
          var title = $("input[name=title]").val();
          var content = $("textarea[name=content]").val();
          var origin_files = $("#files-list").children();
          var files = document.getElementById('uploadFiles').files;
          var subjects = $("#subjects-list").children();

          for(var idx=0; idx<origin_files.length; idx++){
            formData.append("file_idx",origin_files[idx].dataset.id);
          }
          for(var idx=0; idx<files.length; idx++){
            formData.append("files",files[idx]);
          }
          for(var idx=0; idx<subjects.length; idx++){
            formData.append("subject",subjects[idx].dataset.id);
          }
          formData.append("title", title);
          formData.append("content", content);
          formData.append("modify_parent_idx","[[${forum.idx}]]");

          postAPI("/forum/main/edit",formData, function(result){
             switch(result){
               case "ok":
                 alert("변경이 요청되었습니다.");
                 location.href="/forum/main"
                 break;
               case "error" :
                 alert("오류가 발생하였습니다.");
                break;
             }
           });
        }

        function removeFile(index){
          $("#file-index-"+index).remove();
        }
      </script>
   </body>
</html>
