<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <ul class="nav nav-light nav-tabs" role="tablist" id="menu-tab" th:fragment="nav(forum)">
    <li class="nav-item">
       <a class="d-flex h-60p align-items-center nav-link" th:onclick="'onclickRow(\'content\', ' + ${forum.idx} + ')'" style="cursor:pointer;">게시물 정보</a>
    </li>
    <li class="nav-item">
       <a class="d-flex h-60p align-items-center nav-link" th:onclick="'onclickRow(\'history\', ' + ${forum.idx} + ')'" style="cursor:pointer;">게시물 이력</a>
    </li>
    <li class="nav-item">
       <a class="d-flex h-60p align-items-center nav-link active" th:onclick="'onclickRow(\'profile\', ' + ${forum.user.idx} + ')'" style="cursor:pointer;">게시자 정보</a>
    </li>
    <li class="nav-item">
       <a class="d-flex h-60p align-items-center nav-link" th:onclick="'onclickRow(\'edit\', ' + ${forum.idx} + ')'" style="cursor:pointer;">수정요청</a>
    </li>
  </ul>
</html>