<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <body data-spy="scroll" data-target=".navbar" data-offset="60">
      <div class="hk-wrapper">
         <div class="hk-pg-wrapper px-0" style="padding-top:0px;">
            <div class="container-fluid">
               <!-- Row -->
               <div class="row">
                  <div class="col-xl-12 pa-0">
                     <div class="tab-content mt-sm-60 mt-30">
                        <div class="tab-pane fade show active" role="tabpanel">
                           <div class="container">
                              <div class="hk-row">
                                 <div class="col-lg-12">
                                    <section class="hk-sec-wrapper hk-invoice-wrap pa-35">
                                       <h5>회원 정보수정</h5>
                                       <hr>
                                       <div class="invoice-details">
                                          <div class="table-wrap">
                                             <div class="table-responsive">
                                                <table class="table table-striped table-border mb-0" style="border-bottom:1px solid #eaecec;">
                                                   <tbody>
                                                      <tr>
                                                         <td rowspan="4">
                                                            <img class="img-fluid circle" th:if="${session.ForumUserSession.image_url != null}" th:src="'/forum/img?id=' + ${session.ForumUserSession?.image_url}" style="min-width:180px; height:180px; cursor:pointer;" id="profile-img" onclick="ajaxFileUpload()" />
                                                            <img class="img-fluid circle" th:unless="${session.ForumUserSession.image_url != null}" src="/dist/img/img-thumb.jpg" style="min-width:180px; height:180px; cursor:pointer;" id="profile-img" onclick="ajaxFileUpload()"/>
                                                            <input type="file" id="profile-upload" name="file" style="display:none;">
                                                         </td>
                                                         <td class="w-70">아이디</td>
                                                         <td class="text-right" th:text="${session.ForumUserSession?.username}">-</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="w-70">닉네임</td>
                                                         <td class="text-right">
                                                            <input class="form-control" placeholder="닉네임" value="" type="text" name="nickname" th:value="${session.ForumUserSession?.nickname}" style="min-width:300px;" autofocus>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td class="w-70">이메일</td>
                                                         <td class="text-right">
                                                            <input class="form-control" placeholder="이메일" value="" type="text" name="email" th:value="${session.ForumUserSession?.email}" style="min-width:300px;">
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td class="w-70">나라</td>
                                                         <td class="text-right">
                                                            <input class="form-control" placeholder="나라" value="" type="text" name="nation" th:value="${session.ForumUserSession?.nation}" style="min-width:300px;">
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <button type="button" class="btn btn-success" style="margin-top:50px; float:right;" id="submit" onclick="submit()">수정하기</button>
                                             </div>
                                          </div>
                                       </div>
                                       <hr>
                                       <ul class="invoice-terms-wrap font-14 list-ul">
                                          <li>사진을 클릭하여, 사진을 수정할 수 있습니다.</li>
                                       </ul>
                                    </section>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /Row -->
            </div>
         </div>
      </div>
   </body>
   <script>
      $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
          $("#submit").click();
        }
      });

      imagePreView(document.getElementById("profile-upload"));

      function ajaxFileUpload(){
        $("#profile-upload").click();
      }

      function submit(){
        if($("input[name=nickname]").val() == ""){
          alert("닉네임은 필수입니다.");
          $("input[name=nickname]").focus();
          return;
        }

        postAPI("/mypage/editinfo",formData, function(result){
          switch(result){
            case "ok" : location.href="/forum"; break;
            case "error" :
              alert("정보가 일치하지 않습니다.");
            break;

          }
        })
      }

      // 이미지 미리보기 지원하는 함수
    	function imagePreView(target, callback){
        var img = new Image();
        target.onchange = function (e) {
          e.preventDefault();
          var file = target.files[0], reader = new FileReader();
          reader.onload = function (event) {
            img.src = event.target.result;
            img.width = 150;
            img.height = 246;
            img.id=target.id;
    				$("#profile-img").attr("src", img.src);
          };
    			reader.readAsDataURL(file);
    			$(target.id).css("cursor","pointer");
        };
      }

   </script>
</html>
