<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="widget/head :: head"></head>
   <body data-spy="scroll" data-target=".navbar" data-offset="60">
      <div class="preloader-it">
         <div class="loader-pendulums"></div>
      </div>
      <div class="hk-wrapper">
         <div th:replace="widget/menu :: menu"></div>
         <div class="hk-pg-wrapper px-0">
            <div class="container-fluid">
               <!-- Row -->
               <div class="row">
                  <div class="col-xl-12 pa-0">
                     <div class="profile-cover-wrap overlay-wrap">
                        <div class="profile-cover-img" style="background-image:url('/dist/img/bg1.jpg')"></div>
                        <div class="bg-overlay bg-trans-dark-60"></div>
                        <div class="container profile-cover-content py-50" style="max-width:1600px;">
                           <div class="hk-row">
                              <div class="col-lg-6">
                                 <div class="media align-items-center">
                                    <div class="media-img-wrap  d-flex">
                                       <div class="avatar">
                                          <img th:src="@{/dist/img/avatar1.jpg}" alt="user" class="avatar-img rounded-circle">
                                       </div>
                                    </div>
                                    <div class="media-body">
                                       <div class="text-white text-capitalize display-6 mb-5 font-weight-400"><span th:text="${session.ForumUserSession?.nickname}"></span></div>
                                       <div class="font-14 text-white"><span class="mr-5" th:text="${session.ForumUserSession?.email}"></span></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="bg-white shadow-bottom">
                        <div class="container"  style="max-width:1600px;">
                           <ul class="nav nav-light nav-tabs" role="tablist" id="menu-tab">
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link active" onclick="switchContent(this, 'profile')" style="cursor:pointer;">회원정보</a>
                              </li>
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent(this, 'question')" style="cursor:pointer;">나의 질문</a>
                              </li>
                              <li class="nav-item">
                                 <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent(this, 'forum')" style="cursor:pointer;">나의 포럼</a>
                              </li>
                           </ul>
                        </div>
                     </div>

                     <div class="tab-content mt-sm-60 mt-30" id="content" style="margin-top:0px !important;">

                     </div>

                  </div>
               </div>
               <!-- /Row -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
      <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
      <!-- Owl JavaScript -->
      <script th:src="@{/vendors/owl.carousel/dist/owl.carousel.min.js}"></script>
      <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
      <!-- FeatherIcons JavaScript -->
      <script th:src="@{/dist/js/feather.min.js}"></script>
      <!-- Gallery JavaScript -->
      <script th:src="@{/vendors/lightgallery/dist/js/lightgallery-all.min.js}"></script>
      <script th:src="@{/dist/js/froogaloop2.min.js}"></script>
      <!-- Init JavaScript -->
      <script th:src="@{/dist/js/lightgallery-all.js}"></script>
      
      <script th:src="@{/dist/js/landing-data.js}"></script>
      <script th:src="@{/dist/js/init.js}"></script>
      
      
      <script th:src="@{/vendors/jquery-toggles/toggles.min.js}"></script>
      <script th:src="@{/dist/js/dropdown-bootstrap-extended.js}"></script>
      <script th:src="@{/dist/js/toggle-data.js}"></script>
      <script th:src="@{/dist/js/feather.min.js}"></script>
      <script>
     	$("#content").load("/forum/mypage/profile");
        function switchContent(target, content){
        	var tabs = $("#menu-tab").children();
        	
        	for(idx=0; idx<tabs.length; idx++){
        		tabs[idx].children[0].classList.remove("active");
        	}
        	
        	target.className += " active";
        	$("#content").load("/forum/mypage/"+content);
        }
      </script>
   </body>
</html>
