<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <body data-spy="scroll" data-target=".navbar" data-offset="60">

     <div class="bg-white shadow-bottom">
        <div class="container"  style="max-width:1600px;">
           <ul class="nav nav-light nav-tabs" role="tablist" id="menu-tab">
              <li class="nav-item">
                 <a class="d-flex h-60p align-items-center nav-link active" onclick="switchContent('/forum/mypage/profile')" style="cursor:pointer;">회원정보</a>
              </li>
              <li class="nav-item">
                 <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/question')" style="cursor:pointer;">나의 질문</a>
              </li>
              <li class="nav-item">
                 <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/forum')" style="cursor:pointer;">나의 포럼</a>
              </li>
              <li class="nav-item">
                 <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/update_request')" style="cursor:pointer;">수정요청</a>
              </li>
           </ul>
        </div>
     </div>

      <div class="hk-wrapper">
         <div class="hk-pg-wrapper px-0" style="padding-top:0px;">
            <div class="container-fluid">
               <!-- Row -->
               <div class="row">
                  <div class="col-xl-12 pa-0">
                     <div class="tab-content mt-sm-60 mt-30">
                        <div class="tab-pane fade show active" role="tabpanel">
                           <div class="container"  style="max-width:1600px;">
                              <div class="hk-row">

                                <!-- 왼쪽 회원정보  -->
                                 <div class="col-lg-9">
                                 <section class="hk-sec-wrapper">
                                       <h5 class="hk-sec-title">회원 정보</h5>
                                       <p class="mb-40">"개인정보 수정"을 통해 정보를 변경할수 있습니다.</p>
                                       <div class="row">
                                          <div class="col-sm">
                                             <div class="table-wrap">
                                                <div class="table-responsive">
                                                   <table class="table table-sm mb-0">
                                                      <tbody>
                                                         <tr>
                                                            <td>아이디</td>
                                                    		<td class="text-right" th:text="${session.ForumUserSession?.username}">-</td>
                                                         </tr>
                                                         <tr>
                                                            <td>닉네임</td>
                                                    		<td class="text-right" th:text="${session.ForumUserSession?.nickname}">-</td>
                                                         </tr>
                                                         <tr>
		                                                    <td>이메일</td>
		                                                    <td class="text-right" th:text="${session.ForumUserSession?.email}">-</td>
                                                         </tr>
                                                         <tr >
		                                                    <td>국가</td>
		                                                    <td class="text-right" th:text="${session.ForumUserSession?.nation}">-</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                   <button type="button" class="btn btn-success" style="margin-top:50px; float:right;" onclick="switchContent('/forum/mypage/editinfo_password')">개인정보 수정</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </section>
                                 </div>

                                 <!-- 오른쪽 nav 바 -->
                                 <div th:replace="mypage/nav :: nav"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /Row -->
            </div>
         </div>
      </div>
   </body>

   <script>

   </script>
</html>
