<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <body data-spy="scroll" data-target=".navbar" data-offset="60">
      <div class="bg-white shadow-bottom">
         <div class="container"  style="max-width:1600px;">
            <ul class="nav nav-light nav-tabs" role="tablist" id="menu-tab">
               <li class="nav-item">
                  <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/profile')" style="cursor:pointer;">회원정보</a>
               </li>
               <li class="nav-item">
                  <a class="d-flex h-60p align-items-center nav-link active" onclick="switchContent('/forum/mypage/question')" style="cursor:pointer;">나의 질문</a>
               </li>
               <li class="nav-item">
                  <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/forum')" style="cursor:pointer;">나의 포럼</a>
               </li>
               <li class="nav-item">
                  <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/update_request')" style="cursor:pointer;">수정요청</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="hk-wrapper">
         <div class="hk-pg-wrapper px-0" style="padding-top:0px;">
            <div class="container-fluid">
               <!-- Row -->
               <div class="row">
                  <div class="col-xl-12 pa-0">
                     <div class="tab-content mt-sm-60 mt-30">
                        <div class="tab-pane fade show active" role="tabpanel">
                           <div class="container"  style="max-width:1600px;">
                              <div class="hk-row">
                                <!-- 왼쪽 나의 질문 리스트들 -->
                                <div class="col-lg-9" >
                                    <div class="card-columns card-column-1" th:each="list, num : ${questions}" style="margin-bottom:10px;">
                                      <!-- 나의 게시물 정보 -->
                                      <div th:replace="/form/card :: forum(${list})"></div>

                                      <!-- 게시물 댓글 리스트-->
                                      <div th:replace="/form/reply_list :: forum(${list})"></div>
                                    </div>
                                 </div>

                                 <!-- 오른쪽 nav 바 -->
                                 <div th:replace="mypage/nav :: nav"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /Row -->
            </div>
         </div>
      </div>
   </body>
</html>
