<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <div class="col-lg-3" th:fragment="nav">
     <div class="card card-profile-feed">
        <div class="card-header card-header-action">
           <div class="media align-items-center">
              <div class="media-body">
                 <div class="text-capitalize font-weight-500 text-dark">Total Forums</div>
                 <div class="font-13">총 질문답변 수</div>
              </div>
           </div>
        </div>
        <div class="row text-center">
           <div class="col-4 border-right pr-0">
              <div class="pa-15">
                 <span class="d-block display-6 text-dark mb-5" th:text="${questionCount}"></span>
                 <span class="d-block text-capitalize font-14">questions</span>
              </div>
           </div>
           <div class="col-4 border-right px-0">
              <div class="pa-15">
                 <span class="d-block display-6 text-dark mb-5"  th:text="${answerCount}"></span>
                 <span class="d-block text-capitalize font-14">answers</span>
              </div>
           </div>
           <div class="col-4 border-right px-0">
              <div class="pa-15">
                 <span class="d-block display-6 text-dark mb-5" th:text="${recommendCount}"></span>
                 <span class="d-block text-capitalize font-14">goods</span>
              </div>
           </div>
        </div>
     </div>

     <div class="card card-profile-feed">
        <div class="card-header card-header-action">
           <h6><span>나의 답변 <span class="badge badge-soft-success ml-5" th:text="${answerCount}"></span></span></h6>
           <a href="#" class="font-14 ml-auto">View all</a>
        </div>
        <ul class="list-group list-group-flush" >
           <li class="list-group-item border-0" th:each="list : ${answerList}" style="cursor:pointer;" th:onclick="'location.href=\'/forum/main?id=' + ${list.idx} +'\''">
              <div class="media align-items-center">
                 <div class="d-flex media-img-wrap mr-15">
                    <div class="avatar avatar-sm">
                       <img th:src="@{${list.user.image_url} != null ? '/forum/img?id=' + ${session.ForumUserSession.image_url} : '/dist/img/img-thumb.jpg'} " alt="user" class="avatar-img rounded-circle">
                    </div>
                 </div>
                 <div class="media-body">
                    <span class="d-block text-dark text-capitalize" th:text="${#strings.abbreviate(list.title,20)}"></span>
                    <span class="d-block font-13" th:text="${#strings.abbreviate(list.content,20)}"></span>
                 </div>
              </div>
           </li>
        </ul>
     </div>

     <div class="card card-profile-feed">
        <div class="card-header card-header-action">
           <h6><span>나의 질문<span class="badge badge-soft-success ml-5" th:text="${questionCount}"></span></span></h6>
           <a href="#" class="font-14 ml-auto">View all</a>
        </div>
        <ul class="list-group list-group-flush" th:each="list : ${questionList}" >
           <li class="list-group-item border-0" th:data-id="${list?.idx}" style="cursor:pointer;">
              <div class="media align-items-center">
                 <div class="d-flex media-img-wrap mr-15">
                    <div class="avatar avatar-sm">
                       <img th:src="@{${list.user.image_url} != null ? '/forum/img?id=' + ${session.ForumUserSession.image_url} : '/dist/img/img-thumb.jpg'} " alt="user" class="avatar-img rounded-circle">
                    </div>
                 </div>
                 <div class="media-body">
                    <span class="d-block text-dark text-capitalize" th:text="${#strings.abbreviate(list.title,20)}"></span>
                    <span class="d-block font-13" th:text="${#strings.abbreviate(list.content,20)}"></span>
                 </div>
              </div>
           </li>
        </ul>
     </div>


  </div>
</html>
