<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <body data-spy="scroll" data-target=".navbar" data-offset="60">

       <div class="bg-white shadow-bottom">
          <div class="container"  style="max-width:1600px;">
             <ul class="nav nav-light nav-tabs" role="tablist" id="menu-tab">
                <li class="nav-item">
                   <a class="d-flex h-60p align-items-center nav-link active" onclick="switchContent('/forum/mypage/profile')" style="cursor:pointer;">회원정보</a>
                </li>
                <li class="nav-item">
                   <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/question')" style="cursor:pointer;">나의 질문</a>
                </li>
                <li class="nav-item">
                   <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/forum')" style="cursor:pointer;">나의 포럼</a>
                </li>
                <li class="nav-item">
                   <a class="d-flex h-60p align-items-center nav-link" onclick="switchContent('/forum/mypage/update_request')" style="cursor:pointer;">수정요청</a>
                </li>
             </ul>
          </div>
       </div>

      <div class="hk-wrapper">
         <div class="hk-pg-wrapper px-0">

         <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                  <div class="col-xl-12 pa-0">
        						<div class="tab-content mt-sm-60 mt-30">
        							<div class="tab-pane fade show active" role="tabpanel">
        								<div class="container" style="max-width:800px;">
        									<div class="hk-row">
                								<div style="width:100%;">
                									<a class="d-flex auth-brand align-items-center justify-content-center mb-20">
                										<span class="text-dark font-23">비밀번호 입력</span>
                									</a>
                									<div style="margin-top:100px;">
        	       										<div class="form-group" style="width:60%; float:center; margin-right:auto; margin-left:auto;">
        	       											<div class="input-group">
        	       												<input class="form-control" placeholder="Password" type="password" name="password" autofocus>
        	       											</div>
        	       										</div>
        	       										<button class="btn btn-warning btn-block" id="submit" onclick="submit()" style="width:20%; float:center; margin-right:auto; margin-left:auto;">Login</button>
                									</div>
                								</div>
                							</div>
        								</div>
        							</div>
        						</div>
        					</div>
                </div>
                <!-- /Row -->
            </div>
         </div>
      </div>


      <!-- jQuery -->
      <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
      <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
      <!-- Owl JavaScript -->
      <script th:src="@{/vendors/owl.carousel/dist/owl.carousel.min.js}"></script>
      <!-- FeatherIcons JavaScript -->
      <script th:src="@{/dist/js/feather.min.js}"></script>
      <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
      <!-- Gallery JavaScript -->
      <script th:src="@{/vendors/lightgallery/dist/js/lightgallery-all.min.js}"></script>
      <script th:src="@{/dist/js/froogaloop2.min.js}"></script>
      <!-- Init JavaScript -->
      <script th:src="@{/dist/js/lightgallery-all.js}"></script>
      <script th:src="@{/dist/js/landing-data.js}"></script>
      <script th:src="@{/dist/js/init.js}"></script>
      <script th:src="@{/dist/js/ajax.js}"></script>
      <script>
        $(document).keypress(function (event) {
        	var keycode = (event.keyCode ? event.keyCode : event.which);
        	if (keycode == '13') {
        		$("#submit").click();
        	}
        });

        function submit() {
          if($("input[name=password]").val() == ""){
            alert("비밀번호를 입력해주세요.");
            return;
          }

        	var formData = new FormData();
        	formData.append("password", $("input[name=password]").val());

        	postAPI("/forum/mypage/editinfo_password", formData, function (result) {
        		switch (result) {
        		case "ok":
        			loadContent.pop();
        			switchContent('/forum/mypage/editinfo');
        			break;
        		case "error":
        			alert("정보가 일치하지 않습니다.");
              $("input[name=password]").focus();
        			break;

        		}
        	});
        }
      </script>
   </body>
</html>
