<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="widget/head :: head"></head>
   <body data-spy="scroll" data-target=".navbar" data-offset="60">
      <!-- Preloader -->
      <div class="preloader-it">
         <div class="loader-pendulums"></div>
      </div>
      <!-- /Preloader -->
      <!-- HK Wrapper -->
      <div class="hk-wrapper">
      <!-- Header -->
      <div th:replace="widget/menu :: menu('null')"></div>
      <div class="hk-pg-wrapper hk-auth-wrapper">
      <div class="container-fluid">
         <div class="row">
            <div class="col-xl-12 pa-0">
               <div class="auth-form-wrap pt-xl-0 pt-70">
                  <div class="auth-form w-xl-30 w-lg-55 w-sm-75 w-100">
                     <a class="d-flex auth-brand align-items-center justify-content-center  mb-20" href="/forum">
                     <img class="brand-img d-inline-block mr-5" th:src="@{/dist/img/logo.png}" alt="brand" /><span class="text-dark font-23">Univa</span>
                     </a>
                     <div>
                        <h1 class="display-4 text-center mb-10">방문해주셔서 감사합니다.</h1>
                        <p class="text-center mb-30">Sign in to your account and enjoy unlimited perks.</p>
                        <div class="form-group">
                           <input class="form-control" placeholder="아이디" type="text" name="username" autofocus>
                        </div>
                        <div class="form-group">
                           <div class="input-group">
                              <input class="form-control" placeholder="비밀번호" type="password" name="password">
                              <div class="input-group-append">
                                 <span class="input-group-text"><span class="feather-icon"><i data-feather="eye-off"></i></span></span>
                              </div>
                           </div>
                        </div>
                        <div class="custom-control custom-checkbox mb-25">
                        </div>
                        <button class="btn btn-warning btn-block" id="submit" onclick="submit()">Login</button>
                        <p class="font-14 text-center mt-15">Having trouble logging in?</p>
                        <div class="option-sep">or</div>
                        <p class="text-center">Do have an account yet?
                           <a href="/forum/signup">Sign Up</a>
                        </p>
                        </
                        <div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Main Content -->
      </div>
      <!-- /HK Wrapper -->
      <!-- jQuery -->
      <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
      <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
      <!-- Owl JavaScript -->
      <script th:src="@{/vendors/owl.carousel/dist/owl.carousel.min.js}"></script>
      <!-- FeatherIcons JavaScript -->
      <script th:src="@{/dist/js/feather.min.js}"></script>
      <!-- Gallery JavaScript -->
      <script th:src="@{/vendors/lightgallery/dist/js/lightgallery-all.min.js}"></script>
      <script th:src="@{/dist/js/froogaloop2.min.js}"></script>
      <!-- Init JavaScript -->
      <script th:src="@{/dist/js/lightgallery-all.js}"></script>
      <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
      <script th:src="@{/dist/js/landing-data.js}"></script>
      <script th:src="@{/dist/js/init.js}"></script>
      <script th:src="@{/dist/js/ajax.js}"></script>
      <script>
      $(document).keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){
              $("#submit").click();
          }
      });

      function submit() {
        if($("input[name=username]").val() == "" || $("input[name=password]").val() == ""){
          alert("아이디와 비밀번호를 모두 입력해주세요.");
          return;
        }

        var formData = new FormData();
        formData.append("username", $("input[name=username]").val());
        formData.append("password", $("input[name=password]").val());

        postAPI("/forum/signin", formData, function (result) {
          switch (result) {
          case "ok":
            location.href = "/forum";
            break;
          case "error":
            alert("정보가 일치하지 않습니다.");
             $("input[name=username]").focus();
            break;

          }
        })
      }

      </script>
   </body>
</html>
