<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
   <head th:replace="widget/head :: head"></head>
   <link th:href="@{/vendors/dropzone/dist/dropzone.css}" rel="stylesheet" type="text/css">
   <link th:href="@{/vendors/dropify/dist/css/dropify.min.css}" rel="stylesheet" type="text/css">
   <link th:href="@{/vendors/jquery-toggles/css/toggles.css}" rel="stylesheet" type="text/css">
   <link th:href="@{/vendors/jquery-toggles/css/themes/toggles-light.css}" rel="stylesheet" type="text/css">
   <link th:href="@{/dist/css/style.css}" rel="stylesheet" type="text/css">
   <body data-spy="scroll" data-target=".navbar" data-offset="60">
      <!-- Preloader -->
      <div class="preloader-it">
         <div class="loader-pendulums"></div>
      </div>
      <!-- /Preloader -->
      <!-- HK Wrapper -->
      <div class="hk-wrapper">
         <!-- Header -->
         <div th:replace="widget/menu :: menu('null')"></div>
         <div class="hk-pg-wrapper hk-auth-wrapper">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="auth-form-wrap pt-xl-0 pt-70">
                        <div class="auth-form w-xl-30 w-lg-55 w-sm-75 w-100">
                           <a class="d-flex auth-brand align-items-center justify-content-center  mb-20" href="/forum">
                           <img class="brand-img d-inline-block mr-5" th:src="@{/dist/img/logo.png}" alt="brand" />
                           <span class="text-dark font-23">Univa</span>
                           </a>
                           <div>
                              <h1 class="display-4 mb-10 text-center">Sign up for free</h1>
                              <p class="mb-30 text-center">회원가입을 하고 자유롭게 질문과 답변을 해보세요</p>
                              <div class="row">
                                 <div class="col-sm">
                                    <div class="dropify-wrapper" style="width:250px;">
                                      <img class="img-fluid circle" src="/dist/img/img-thumb.jpg" style="min-width:180px; height:180px; cursor:pointer;" id="profile-img" onclick="ajaxFileUpload()"/>
                                      <input type="file" class="dropify" id="profile-upload" name="file">
                                    </div>
                                 </div>
                                 <div class="col-md-6 form-group" >
                                    <div class="col-md-12 form-group">
                                       <input class="form-control" placeholder="아이디" value="" type="text" name="username" autofocus>
                                    </div>
                                    <div class="col-md-12 form-group">
                                       <input class="form-control" placeholder="패스워드" value="" type="password" name="password">
                                    </div>
                                    <div class="col-md-12 form-group">
                                       <input class="form-control" placeholder="닉네임" type="text" name="nickname">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group" style="margin-top:30px;">
                                 <input class="form-control" placeholder="이메일" type="email" name="email">
                              </div>
                              <div class="form-group">
                                 <input class="form-control" placeholder="국가" type="text" name="nation">
                              </div>
                              <div class="custom-control custom-checkbox mb-25">
                                 <input class="custom-control-input" id="same-address" type="checkbox" checked>
                                 <label class="custom-control-label font-14" for="same-address">개인정보수집 이용약관 동의 <a href=""><u>자세히보기</u></a> </label>
                              </div>
                              <button class="btn btn-warning btn-block" onclick="submit()">Register</button>
                              <div class="option-sep">or</div>
                              <p class="text-center">Already have an account? <a href="/forum/signin">Sign In</a></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /HK Wrapper -->
      <!-- jQuery -->
      <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
      <!-- Bootstrap Core JavaScript -->
      <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
      <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
      <!-- Owl JavaScript -->
      <script th:src="@{/vendors/owl.carousel/dist/owl.carousel.min.js}"></script>
      <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
      <!-- FeatherIcons JavaScript -->
      <script th:src="@{/dist/js/feather.min.js}"></script>
      <!-- Gallery JavaScript -->
      <script th:src="@{/vendors/lightgallery/dist/js/lightgallery-all.min.js}"></script>
      <!-- Init JavaScript -->
      <script th:src="@{/dist/js/lightgallery-all.js}"></script>
      <script th:src="@{/dist/js/landing-data.js}"></script>
      <script th:src="@{/dist/js/init.js}"></script>
      <script th:src="@{/dist/js/ajax.js}"></script>
      <script>
        imagePreView(document.getElementById("profile-upload"));

        function imagePreView(target, callback) {
        	var img = new Image();
        	console.log("target : ", target);
        	target.onchange = function (e) {
        		e.preventDefault();
        		var file = target.files[0],
        		reader = new FileReader();
        		reader.onload = function (event) {
        			img.src = event.target.result;
        			img.width = 150;
        			img.height = 220;
        			img.id = target.id;
        			$("#profile-img").attr("src", img.src);
        			$("#profile-img").show();
        			$("#profile-upload-div").hide();
        			console.log("@@@@");
        		};
        		reader.readAsDataURL(file);
        		$("#profile-img").css("cursor", "pointer");
        	};
        }

        function submit() {
        	var formData = new FormData();
        	var object = {
        		"username": null,
        		"password": null,
        		"nickname": null,
        		"email": null,
        		"nation": null,
        		"file": null
        	};
        	var image_url = document.getElementById('profile-upload').files[0];
        	formData.append("username", $("input[name=username]").val());
        	formData.append("password", $("input[name=password]").val());
        	formData.append("nickname", $("input[name=nickname]").val());
        	formData.append("email", $("input[name=email]").val());
        	formData.append("nation", $("input[name=nation]").val());
        	formData.append("file", image_url);
        	postAPI("/forum/signup", formData, function (result) {
            if(result == "ok"){
              alert("회원가입이 완료되었습니다. 로그인을 해주세요.")
              location.href="/forum/signin";
            }
            else{
              alert("중복된 닉네임입니다.")
            }
        	});
        }
      </script>
   </body>
</html>
