<div class="card card-profile-feed mb-0 rounded-bottom-0"  th:fragment="forum(forum)">
   <div class="emailapp-wrap">
      <div class="email-box" style="margin-left:0px;">
         <div class="emailapp-right" style="min-width:100%; flex:none; right:0%; position:unset;">
            <div class="email-body">
               <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                  <div class="nicescroll-bar" tabindex="-50" style="overflow: hidden; width: auto; height: 100%; outline: none;">
                     <div>

                        <!-- 게시물에 속한 과목 이름들 -->
                        <div class="email-subject-head" >
                           <h4 th:text="${forum.title}"></h4>
                           <div class="d-flex align-items-center" style="margin-bottom:0px;">
                              <span class="badge badge-secondary mr-10" th:each="subjects : ${forum.subjects}" th:text="${subjects.subject.name}"></span>
                           </div>
                        </div>

                        <hr class="mt-10 mb-20">
                        <div class="email-head">

                           <!-- 게시자의 정보 -->
                           <div class="media">
                              <div class="media-img-wrap">
                                 <div class="avatar">
                                    <img th:src="@{${forum.user.image_url} != null ? '/forum/img?id=' + ${forum.user.image_url} : '/dist/img/img-thumb.jpg'} "
                                       alt="user" class="avatar-img rounded-circle">
                                 </div>
                              </div>
                              <div class="media-body">
                                 <span class="text-capitalize sender-name d-inline-block" th:text="${forum.user.nickname}"></span>
                                 <span class="sender-email d-inline-block" th:text="'(' + ${forum.user.username} + ')'"></span>
                                 <span class="d-block">
                                   <span th:text="${forum.user.email} == null ? '이메일 미등록' : ${forum.user.email}"></span>
                                 </span>
                              </div>
                           </div>

                           <!-- 게시물 옵션 -->
                           <div class="head-other-wrap">
                              <div class="d-inline-block mr-5">
                                 <span class="d-inline-block" th:text="${#temporals.format(forum.update_date, 'yyyy/MM/dd HH:mm')}"></span>
                              </div>
                              <div class="d-inline-block dropdown mr-5">
                                 <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="ion ion-ios-more"></i></a>
                                 <div class="dropdown-menu bullet dropdown-menu-right" role="menu">
                                    <a class="dropdown-item" th:href="'/forum/main?type=profile&id=' + ${forum.idx}" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>게시자 정보</a>
                                    <a class="dropdown-item" th:href="'/forum/main?type=history&id=' + ${forum.idx}" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>게시물 이력</a>
                                    <a class="dropdown-item" th:href="'/forum/main?type=edit&id=' + ${forum.idx}" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>수정요청</a>
                                    <a class="dropdown-item" th:onclick="'requestRemove(' + ${forum.idx} + ')'" role="menuitem" style="cursor:pointer;"><i class="icon wb-reply" aria-hidden="true" ></i>삭제요청</a>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- 이미지인 파일들 -->
                        <div class="email-text-wrap mt-30">
                           <p class="mb-40" th:utext="${#strings.replace(#strings.escapeXml(forum.content),'&#10;','&lt;br&gt;')}"></p>
                           <div class="d-flex flex-wrap">
                            <a class="w-sm-150p w-80p mr-10 mb-10" th:each="files,num : ${forum.files}" th:onclick="'newWindowImage(\'/forum/getfile?id=' + ${files.idx} + '\')'" style="cursor:pointer;">
                              <img class="img-fluid rounded"
                                 th:if="${num.index < 6 and (#strings.contains(#strings.toLowerCase(files.file_url),'.png') or (#strings.contains(#strings.toLowerCase(files.file_url),'.jpg')))}"
                                 th:src="'/forum/getfile?id=' + ${files.idx}"
                                 alt="Card image cap"
                                 style="max-width:150px;"/>
                            </a>
                          </div>
                        </div>
                        
                        <!-- 파일정보 -->
                        <hr class="hr-light" th:if="${#lists.size(forum.files)} > 0">
                        <div class="email-attachment-wrap" th:if="${#lists.size(forum.files)} > 0">
                           <div class="email-attachment-block" th:id="'file-list-' + ${forum.idx}">
                              <a th:href="'/forum/getfile?id=' + ${files.idx}" th:each="files,num : ${forum.files}" th:download="${files.name}" th:data-url="'/forum/getfile?id=' + ${files.idx}" th:data-name="${files.name}">
                                 <div class="card card-sm w-200p">
                                    <div class="card-body d-flex align-items-center" style="background:#f5f5f5;" >
                                       <img src="/dist/img/fileicon.png" class="d-inline-block mr-10" alt="attachicon" >
                                       <span class="d-inline-block mnw-0">
                                       <span class="d-block file-name text-truncate" th:text="${files.name}"></span>
                                       <small class="d-block file-size text-truncate"
                                              th:text="${#numbers.formatDecimal((files.file_size)/2^10, 1, 'POINT', 1, 'POINT')} + ' KB'"></small>
                                       </span>
                                    </div>
                                 </div>
                              </a>
                           </div>

                           <!-- 전체 다운로드 -->
                           <div class="d-flex ml-auto">
                              <a th:onclick="'allDownload(' + ${forum.idx} +')'" style="cursor:pointer;"><i class="zmdi zmdi-download"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="slimScrollBar" tabindex="-50" style="background: rgb(214, 217, 218); width: 6px; position: absolute; top: 0px; opacity: 0.8; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 808px; outline: none;"></div>
                  <div class="slimScrollRail" style="width: 6px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
               </div>
            </div>


            <!-- 좋아요 개수, 댓글 개수 -->
            <div class="card-footer justify-content-between">
               <div>
                  <a style="cursor:pointer;">
                    <!-- <i class="ion ion-md-heart-empty text-primary"></i> -->
                    <i th:class="${forum.recommended} == true ? 'ion ion-md-heart text-primary' : 'ion ion-md-heart-empty text-primary'"
                        th:onclick="'onclickRecommend(this, ' + ${forum.idx} + ',' + ${session.ForumUserSession?.idx} + ')'"
                        th:data-enable="${forum.recommended}"></i>
                        <span id="like-count" th:text="${forum.recommendedCount}"></span>
                  </a>
               </div>
               <div>
                  <a role="button" data-toggle="collapse" th:href="'#collapse_'+${forum.idx}" aria-expanded="false" class="collapsed" th:text="${forum.childrenCount} + ' reply'"></a>
               </div>
            </div>

            <!-- 최상위에 댓글입력-->
            <div class="card-footer" style="border-top:none;">
							<div class="media w-100 align-items-center">
								<div class="media-img-wrap d-flex mr-15">
									<div class="avatar avatar-xs">
										<img th:src="@{${session.ForumUserSession?.image_url} != null ? '/forum/img?id=' + ${session.ForumUserSession.image_url} : '/dist/img/img-thumb.jpg'} "
                        alt="user" class="avatar-img rounded-circle">
									</div>
								</div>
								<div class="media-body" style="background:#f3f3f3;">
                  <span class="collapsed" role="button" data-toggle="collapse" aria-expanded="false"  th:href="'#collapse_reply_'+${forum.idx}">
                    <textarea class="form-control filled-input bg-transparent" rows="1" placeholder="댓글 입력" style="cursor:pointer;"  disabled></textarea>
                  </span>

								</div>
							</div>
						</div>

            <!-- 댓글 입력 폼 -->
            <span class="collapse" role="tabpanel" th:id="'collapse_reply_'+${forum.idx}">
              <div class="card-footer" style="border-top:none;">
                <div class="media w-100 align-items-center">
                    <div th:replace="/form/reply :: forum(${forum})"></div>
                </div>
              </div>
            </span>
         </div>
      </div>
   </div>
</div>
